<div id="main">
    <!-- Site content -->
    <div id="content">

        <div class="content-characters">
            <div class="content-center">
                <div>COVID-19</div>
                <div>management system</div>
            </div>

            <div class="content-solugant">
                <p>Stay at home, save lives!</p>
            </div>
        </div>

        <div class="content-button">
            <div class="button1">
                <a href="/user/pageLogin"><button class="custom-button button-1">Sign Up</button></a>
            </div>
            <div class="button2">
                <button class="custom-button button-16"><a href="https://covid19.hochiminhcity.gov.vn/">About
                        COVID-19</a></button>
            </div>
        </div>
    </div>

    <video src="/video/videobghome.mp4" autoplay muted loop></video>

</div>